@media screen and (min-width: 1640px) {
    .container-max {
        max-width: 1640px;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        margin-right: auto;
        margin-left: auto;
    }
    .sidebar {
        position: static;
    }
}
