.navbar-nav{
    flex-direction: row;
}
.courses .card-header {
    /* background: darkslategray; */
    background: #848484;
}
.courses.form-inline .form-group .form-control
{
    width: 100% !important;
}
.courses .card-header span, .card-header a {
    color: #fff !important;
}
.courses .BtnGroupRows a , .edit {
    background: transparent;
    color: gold;
    border: 1px solid gold;
}
.courses .BtnGroupRows a:hover , .edit:hover , .btn-outline-primary:not(:disabled):not(.disabled):active{
    background: gold;
    color: #000;
}
.courses .BtnGroupRows form button , .delete {
    background: transparent;
    color: #dc3545;
    border: 1px solid #dc3545;
}
.courses .BtnGroupRows form button:hover , .delete:hover{
    background: #dc3545;
    color: #fff;
}
.info {
    background: transparent;
    color: #0dcaf0;
    border: 1px solid #0dcaf0;
}
.info:hover{
    background: #0dcaf0;
    color: #fff;
    text-decoration: none;
}
.add {
    background: transparent;
    color: #007bff;
    border: 1px solid #007bff;
}
.add:hover{
    background: #007bff;
    color: #fff;
    text-decoration: none;
}
.save{
    color: green;
    border: 1px solid green;
    background-color: transparent;
}
.save:hover{
    background: green;
    color: #fff;
    text-decoration: none;
}
.inputs .form-group {
    margin: 0 0 15px !important;
}
.card-default{
    margin-bottom: 10px;
}
em u {
    font-style: normal;
    text-shadow: 0px 0px #fb4400;
    color: #000;
    text-decoration: none;
}
#ContentModal .modal-content
{
    width: 75% !important;
}
#ContentModal .modal-content .progress{
    display: none;
}
.import-question-file {
    padding: 29px 0 0;
    text-align: right;
}
.col-md-12.file {
    padding: 0;
}
.text-success {
    color: #2db683 !important;
}
.modal-dialog.modal-lg {
    max-width: 100% !important;
}
/* .question p{
    font-size: 20px;
    font-family: 'Lato Regular';
} */
