
.dropdown-sidebar ul{
    height: 0;
    display: none !important;
    transition: all 3s ease !important;
    background: #fff !important;
}
 .dropdown-sidebar.active ul{
    display: block !important;
    height: max-content !important;
}
.dropdown-sidebar>a{
    position: relative;
    justify-content: space-between;
}
nav#sidebarMenu ul li a span.drop-icon svg{
    width: 12px !important;
    transition: all 0.5s ease;
}
/* nav#sidebarMenu ul li a span.drop-icon{
    padding-top: 5px;
} */
nav#sidebarMenu ul li a span.title{
    display: flex;
    align-items: self-start;
    padding-right: 10px;
}
.dropdown-sidebar.active span.drop-icon svg{
    transform: rotate(180deg);
    transition: all 0.5s ease;
}

/********************************/
.form-control{
    appearance: auto;
}
.mobile-none{
    display: revert !important;
}
.mobile-show{
    display: none !important;
}

.lms-header ul.navbar-nav li.user a.nav-link.role.not_admin{
    border: none;
    background: transparent;
    width: max-content;
}

.lms-header ul.navbar-nav li.user a.nav-link.role.not_admin svg{
    display: none;
}

span.flag_icon_false svg path , .flag svg path {
    stroke: gray;
    transform: rotate(15deg);
}

span.flag_icon_true svg path , .flag-mark svg path {
    fill: #fb4400;
    stroke: #fb4400;
    transform: rotate(15deg);
}

span.flag.flag-mark svg path {
    fill: #fb4400;
    stroke: #fb4400;
}

.scorm .group_buttons{
    display: inline-block;
}
.quill-editor-container .ql-editor>p{
    text-transform: none !important;
}
.bg-one {
    background: #6d6e70;
}
.bg-two {
    background: #fd9a18;
}
.bg-four {
    background: #303d47;
}
.bg-five {
    background: #ADADAD;;
}
a.review:hover svg path{
    fill: #fff;;
}
.card {
    box-shadow: 0 0 10px 1px #00000003;
}
.navbar-nav{
    flex-direction: row;
}
.courses .card-header {
    background: #f3f3f3;
}
.card-header {
    background: #f3f3f3;
    color: #000 !important;
}
.courses.form-inline .form-group .form-control{
    width: 100% !important;
}
.courses .card-header span{
    color: #000 !important;
}
.BtnGroupRows a.yellow  {
    background: #ffc107;
    color: #000;
    border: 1px solid #ffc107;
}
.info-button  {
    background: #0099b8;
    color: #000;
    border: 1px solid #0099b8;
    color: #fff;
    margin-left: 3px;
}
.btn-outline-primary:not(:disabled):not(.disabled):active{
    background: #ffc107;
    box-shadow: 0 0 0 0.2rem rgb(255 193 7 / 50%);
    color: #000;
}
.btn-outline-primary.focus, .btn-outline-primary:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus{
    box-shadow: 0 0 0 0.2rem rgb(255 193 7 / 50%);
}
.BtnGroupRows form button{
    background: #dc3545;
    color: #fff;
    border: 1px solid #dc3545;
}
.h1-course-title {
    font-family: "Lato Regular" !important;
}
.main-button {
    /* background: #fb4400;
    color: #fff;
    text-decoration: none; */
    color: #5D5B5A !important;
    border: none !important;
    background: #fff !important;
    box-shadow: 3px 3px 5px #eaeaea;
}
a.main-button svg path {
    fill:#5D5B5A !important;
}
a.main-button:hover svg path {
    fill: #fb4400 !important
}
.main-button:hover {
    color: #fb4400 !important
}
.inputs .form-group {
    margin: 0 0 15px !important;
}
.card-default{
    margin-bottom: 10px;
}
em u {
    font-style: normal;
    text-shadow: 0px 0px #fb4400;
    color: #000;
    text-decoration: none;
}
#ContentModal .modal-content{
    width: 75% !important;
}
li.has-dropdown .dropdown{
    width: max-content;
}
li.has-dropdown .dropdown span{
    font-size: 14px;
}
/* .import-question-file {
    padding: 29px 0 0;
    text-align: right;
} */
.col-md-12.file {
    padding: 0;
}
.text-success {
    color: #009eb8 !important;
    font-size: small;
}
.modal-dialog.modal-lg {
    max-width: 100% !important;
}
.text-center.course-image {
    min-height: 197.35px !important;
    position: relative;
    overflow: hidden;
}
.course-image span.status{
    position: absolute;
    top: -5px;
    left: -35px;
    display: block;
    color: #fff;
    background: #fb4400;
    width: 100px;
    text-align: center;
    transform: rotate(-45deg);
    padding: 10px 0 5px;
    font-size: 12px;
    line-height: 2;
    font-family: 'Lato Bold';
}
/* checkbox */

.container-check {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .container-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .container-check .checkmark {
    position: absolute;
    top: -7px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
  }

  .container-check:hover input ~ .checkmark {
    background-color: #ccc;
  }

  .container-check input:checked ~ .checkmark {
    background-color: #fb4400;
  }

  .container-check .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .container-check input:checked ~ .checkmark:after {
    display: block;
  }

  .container-check .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

/* End Checkbox */

.activity_icon {
    width:28px;
    height:28px;
    margin-right: 5px;
    vertical-align: middle;
    color: rgb(106, 106, 106) !important;
    filter: opacity(0.7);
}

.padding-list {
    padding: 5px 15px !important;
}

.q-card {
    margin-bottom: 10px;
    padding: 10px 13% 20px 20px !important;
}

.q-card h3 {
    font-size: 16px;
}
.q-card label{
    box-shadow: 0 3px 6px rgb(0 0 0 / 5%);
}
ol.answers li .icon.empty {
    /* background: #82bafe; */
    background: #f1f1f1;
}
ol.answers li{
    cursor: pointer;
}
.ql-container.ql-snow{
    height: 150px;
}
.table td, .table th{
    vertical-align: middle !important;
}
.navbar-brand{
    box-shadow: none;
}
.card-report {
    width: 24%;
    margin: 5px auto;
}
.shadow{
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 4%) !important;
}
.lms-header ul.navbar-nav > li {
    margin: 0 30px 0 0;
}
.course_details .activity h3 {
    margin-top: 0;
}
/*************************************************************************************************************/

/* Buttons Style */
.badge{
    color: #fff;
    padding: 2px 10px;
    font-size: smaller;
    border-radius: 3px;
    width: max-content;
}
.self-paced{
    background: #2c9675;
}
.live-online{
    background: #d6c11b;
}
.exam-simulators{
    background: #FFA065;
}
.instructor-led{
    background: #5ec000;
}
.badge-blue{
    background: #8dabf7;
    color: #fff;
    padding: 0px 10px;
    font-size: smaller;
    border-radius: 3px;
    width: max-content;
    display: inline-block;
}
.badge-pink{
    background: #b18db5;
    color: #fff;
    padding: 0px 10px;
    font-size: smaller;
    border-radius: 3px;
    width: max-content;
    display: inline-block;
}
.badge-lim{
    background: #b0ac27;
    color: #fff;
    padding: 0px 10px;
    font-size: smaller;
    border-radius: 3px;
    width: max-content;
    display: inline-block;
}
.badge-green{
    background: green;
    color: #fff;
    padding: 0px 10px;
    font-size: smaller;
    border-radius: 3px;
    width: max-content;
    display: inline-block;
}
.badge-red{
    background: #dc3545;
    color: #fff;
    padding: 0px 10px;
    font-size: smaller;
    border-radius: 3px;
    width: max-content;
    display: inline-block;
}
.main-color {
    background: transparent;
    color: #fb4400;
    border: 1px solid #fb4400;
    padding: 4px 10px;
    width: max-content;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
}
.main-color:hover {
    background: #fb4400;
    text-decoration: none;
    color: #fff;
}
.dflex{
display: flex !important;
align-items: center;
justify-content: center;
}

.yellow {
    background: transparent;
    color: #000;
    border: 1px solid #ffc107;
    padding: 4px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
}
.yellow:hover {
    background: #ffc107;
    text-decoration: none;
}

.red{
    background: transparent;
    color: #dc3545;
    border: 1px solid #dc3545;
    padding: 4px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
}
.red:hover {
    background: #dc3545;
    color: #fff;
    text-decoration: none;
}

.green{
    background: transparent;
    color: green;
    border: 1px solid green;
    padding: 4px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
}
.green:hover {
    background: green;
    color: #fff;
    text-decoration: none;
}

.cyan{
    background: transparent;
    color: #0dcaf0;
    border: 1px solid #0dcaf0;
    padding: 4px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    width: max-content;
}
.cyan:hover {
    background: #0dcaf0;
    color: #fff;
    text-decoration: none;
}

.primary{
    background: #007bff;
    color: #fff;
    border: 1px solid #007bff;
    padding: 4px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
}
.primary:hover {
    text-decoration: none;
    color: #fff;
}

.group_buttons {
    background: transparent;
    color: #009eb8;
    border: 1px solid #ebd7ff;
    font-weight: 500;
}
.group_buttons:hover{
    text-decoration: none;
    background: #f6feff;
}
.group_buttons.active {
    background: #62a0a7;
    color: #fff;
}
.white {
    background: transparent;
    color: #000 !important;
    border: 1px solid #000;
    padding: 4px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
}
.white:hover {
    background: #000;
    color: #fff !important;
    text-decoration: none;
}

.primary-outline{
    background: #fff;
    color: #007bff;
    border: 1px solid #007bff;
    padding: 4px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
}
.primary-outline:hover {
    text-decoration: none;
    color: #fff;
    background: #007bff;
}

.info-button:hover{
    background: #0099b8;
    color: #fff;
    text-decoration: none;
}

/* End Buttons Style */

/**************************************************************************************************************/
.course-image .progress{
    width: 65%;
    height: 10px;
    /* border-radius: 8px; */
    border: 2px solid #f2f2f2;
    margin-top: 8px;
    overflow: hidden;
}
.course-image .progress .bar {
    height: 8px;
}
.progress-bar{
    background: #fb4400;
    width: 50%;
    margin: 0 !important;
    position: relative;
    height: 20px;
}
.lms-header ul.navbar-nav li.user a svg{
    margin: 0;
    width: 17px;
}
.lms-header ul.navbar-nav li.user a svg#Layer_2
.lms-header ul.navbar-nav li.user a svg#Layer_3{
    width: 18px;
    vertical-align: text-bottom !important;
    fill: #6a6a6a;
}

svg#back{
    fill: #0dcaf0;
}
a:hover svg#back{
    fill: #fff;
    background: #0dcaf0;
}
.icon-report{
    fill: #fff !important;
}
.icon-report image{
    filter: invert(1);
}
.course-cards{
    width: 23%;
    margin-bottom: 10px;
    border-bottom: 3px solid;
    background: #FFF;
    color: #000;
    box-shadow: 1px 1px 15px 1px rgb(0 0 0 / 5%);
}

.home-section .course-cards:hover , .home-section .text-center.course-image:hover {
    position: relative;
    top: -5px;
}
button.next_prev {
    width: max-content;
    padding: 8px;
    color: #646464;
    background: #fff;
    margin: 0px 5px 5px 5px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 7px 1px gainsboro;
    border: none;
    cursor: pointer;
}
ul.video-list li .play{
    cursor: unset;
    box-shadow: 0 0 5px #33333333;
}

ul.video-list li .text a {
    color: #6a6a6a;
    font-size: 15px;
    /* font-family: 'Lato Light'; */
    font-weight: normal;
    text-transform: capitalize;
}
ul.video-list li:hover .text a {
    font-weight: bold;
}
.req svg{
    width: 7px !important;
    height: 15px !important;
}

.req svg path{
    fill: #fb4400 !important;
}
.home-section {
    margin-bottom: 25px;
}
span.pdu {
    background: #eaeaea;
    padding: 1px 10px;
    border-radius: 5px;
    font-size: 12px;
}
.activity li{
    margin-bottom: 20px;
    display: flex;
    justify-content: start;
    align-items: self-start;
}
.activity li:hover {
    font-weight: 700;
}

tr.text-capitalize.ui-sortable-handle:hover {
    box-shadow: 0 0 10px 0 #e0e0e0;
    cursor: grab;
}

.drag_icon {
    left: -20px;
    top: 15px;
}
.drag_icon svg {
    width: 20px;
    fill: gainsboro;
    display: none;
}
tr.text-capitalize.ui-sortable-handle:hover .drag_icon svg{
    display: inline-block;
}

.course-cards span {
    font-size: 16px;
    font-family: 'Lato Semibold';
    margin: 15px 0 0;
    color: #707070;
    display: block;
}

.certificate{
    /* box-shadow: none; */
    border-radius: 15px;
    padding: 60px 40px 30px;
    position: relative;
    margin-bottom: 20px;
    box-shadow: 1px 1px 10px 1px #f0f0f0;
    border: none;
}

.certificate h2{
    color: #000;
    margin: 0;
    margin-top: 5px;
    /* min-height: 50px; */
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.certificate .completed {
    margin-top: 15px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}

.certificate .completed *{
    margin: 0 5px;
}

.certificate a.download {
    position: absolute;
    top: 15px;
    right: 15px;
}

.parent_next_prev{
    display: flex;
    justify-content: center;
    align-items: center;
}

.padding-none{
    padding: 0 !important;
}

.p-20{
    padding: 20px;
}

.certification-card{
    padding: 60px 40px;
}

.certification-card h2 {
    font-family: 'Lato Light';
    font-size: 25px;
    margin: 0;
    padding-top: 10px;
}

.congrats h1{
    font-family: 'Lato Bold';
    font-size: 35px;
    color: #000;
}

.congrats p{
    font-size: 15px;
    color: #000;
}
#main-vue-element small {
    line-height: 2.5rem;
}
.pop-up-content-wrap{
    margin-top: 20px;
}
.close-btn{
    top: 0 !important;
    right: 20px !important;
    color: #000 !important;
}

p.time-remaining:hover span , p.time-remaining:hover {
    color: #121212 !important;
}
p.time-remaining svg path{
    fill: #fb4400;
}
.review.dash-header{
    padding: 20px 8px;
}
.plyr input {
    color: #fb4400 !important;
    background: #fb4400;
}
button.plyr__controls__item.plyr__control:hover , button.plyr__control.plyr__control--overlaid , button.plyr__control.plyr__control--overlaid:hover , button.plyr__control:hover{
    background: #fb4400 !important;
}
.modal .form-group.form-check.child{
    margin: 15px 0 !important;
    padding: 0 !important;
}
label.container-check.form-check-label{
    margin: 0 !important;
    padding: 0 !important;
    padding-left: 30px !important;
}
label.container-check.form-check-label span.checkmark{
    top: 0 !important;
}
/** alert */
.error-notice{
    margin:5px 0;
    padding: 0
    }

    .error-notice .oaerror{
    width:100%;
    background-color: #ffffff;
    padding:20px;
    border:1px solid #eee;
    border-left-width:5px;
    border-radius: 3px;
    /* margin:10px auto; */
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    }

    .error-notice .danger{
    border-left-color: #d9534f;
    background-color: rgba(217, 83, 79, 0.1);
    }

    .error-notice .danger strong{
    color:#d9534f;
    }
    /* end alert */

    .correct_feedback {
        color: #5D5B5A !important;
        padding: 10px !important;
        background: #fafafa !important;
        margin: 2px 0 !important;
        border: 1px solid rgb(0 0 0 / 6%);
    }
    .correct_feedback.correct_answer {
        background: #0080000f !important;
    }
    .correct_feedback.correct_answer {
        background: #0080000f !important;
        border: 1px solid #00800033;
    }
    .correct_feedback h4{
        margin: 0 !important;
    }
    .border_false{
        border: 1px solid rgb(255 0 0 / 50%)
    }
    .border_true{
        border: 1px solid rgb(0 123 0 / 50%)
    }
    .preview-exam{
        overflow: revert;
        margin: 0 !important;
        margin-top: 40px !important;
        border-top-left-radius: 0 !important;
        padding-top: 25px !important;
    }
    .preview-exam .action_preview{
        position: absolute;
        padding: 4px 8px;
        top: -35px;
        left: -1px;
        background: #fff;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 5px 5px 0 0;
    }
    .preview-exam.q-card label .radio-mark::after{
        top: 3px;
        left: 7px;
        width: 6px;
        height: 12px;
    }
    .navigation_preview{
        margin-top: 40px;
        height: calc(100% - 40px) !important;
    }
    .navigation_preview .answers a:hover {
        text-decoration: none;
    }
    .action_preview button {
        padding: 1px 7px !important;
    }
    span.icon_role{
        display: flex;
        justify-content: start;
    }
    span.icon_role img{
        margin-right: 0 !important;
    }
    .exam-simulator .learning-file ul li a{
        padding: 0;
        margin-bottom: 15px;
        align-items: flex-start;
        text-align: left;
    }

/******************************************************************************************************************/

.custom-model-main {
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; /* z-index: 1050; */
    -webkit-overflow-scrolling: touch;
    outline: 0;
    opacity: 0;
    -webkit-transition: opacity 0.15s linear, z-index 0.15;
    -o-transition: opacity 0.15s linear, z-index 0.15;
    transition: opacity 0.15s linear, z-index 0.15;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: auto;
}

.model-open {
    z-index: 99999;
    opacity: 1;
    overflow: hidden;
}
.custom-model-inner {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    display: inline-block;
    vertical-align: middle;
    width: 600px;
    margin: 30px auto;
    max-width: 97%;
}
.custom-model-wrap {
    display: block;
    width: 100%;
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
    text-align: left;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-height: calc(100vh - 70px);
    overflow-y: auto;
}
.model-open .custom-model-inner {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    position: relative;
    z-index: 999;
}
.model-open .bg-overlay {
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
}
.bg-overlay {
    background: rgba(0, 0, 0, 0);
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-transition: background 0.15s linear;
    -o-transition: background 0.15s linear;
    transition: background 0.15s linear;
}
.close-btn {
    position: absolute;
    right: 0;
    top: -30px;
    cursor: pointer;
    z-index: 99;
    font-size: 30px;
    color: #fff;
}
.excerpt-text{
    margin: 0 30px;
}
p.lead.light.card {
    padding: 30px;
}
.last-question .navigation{
    margin: 0 0 20px !important;
}
.buttons.last-question {
    display: block !important;
    text-align: center;
}
.q-number div .line{
    display: none;
}

@media screen and (min-width:800px){
    .custom-model-main:before {
        content: "";
        display: inline-block;
        height: auto;
        vertical-align: middle;
        margin-right: -0px;
        height: 100%;
    }
}

@media screen and (max-width:799px){
    .custom-model-inner{margin-top: 45px;}
}

/*****************************************************************************************************************/
/* Media Query */

@media (max-width: 1300.5px) and (min-width: 1200.5px) {
    .certificate{
        padding: 40px 15px;
    }

    .certificate .download img{
        width: 35px !important;
    }
    .change-password .card-body , .change-password .card {
        padding: 0 !important;
        margin: 0 !important;
    }
}

@media (max-width: 1200.5px) and (min-width: 991.5px) {
    .calendar .sideb table th{
        font-size: 12px;
    }
    .course-cards{
        width: 48%;
    }
    .certificate{
        padding: 60px 15px 30px;
    }
    .certificate .download img{
        width: 35px !important;
    }
    .change-password .card-body , .change-password .card {
        padding: 0 !important;
        margin: 0 !important;
    }
    .q-card{
        padding: 10px 20% 20px 20px !important;
    }
}

@media (max-width: 1025.5px) {
    .no-img.certificate-img img {
        width: 15%;
    }
    .change-password .card .card-body{
        padding: 0 !important;
        margin: 0 !important;
    }
    .certificate{
        padding: 40px 15px;
    }
    main#main-vue-element{
        padding: 1rem !important;
    }
    .signin-form {
        width: 70%;
    }

}

@media (min-width: 767.5px) and (max-width: 991.5px) {
    .q-card{
        padding: 10px 18% 20px 20px !important;
    }
    .col-lg-8.mb-5.mb-lg-0.course_info {
        margin: 0 !important;
    }
    .exam-simulator .no-img.certificate-img img{
        width: 7%;
    }
    .text-center.course-image.certificate.certification-card {
        border-radius: 0;
    }
    .navigation_preview{
        margin: 0 !important;
        height: 100% !important;
    }
    .change-password .card.px-5.mx-5 {
        padding: 0 !important;
        margin: 0 !important;
    }
    .m-bottom{
        margin-bottom: 24px;;
    }
    .dash-header.d-flex.justify-content-between.align-items-center{
        display: block !important;
    }
    .parent_next_prev {
        justify-content: start;
    }
    .text-center.course-image.w-30.mb-4.mt-2.mb-md-0{
        width: 40%;
    }
    .course-cards span {
        display: block;
        margin-top: 25px;
    }
    .course-cards{
        width: 48%;
    }
    .dash-header.d-flex.justify-content-between ol.breadcrumb{
        margin-bottom: 10px;
    }
    .user-info {
        padding: 25px !important;
    }
    p.time-remaining{
        margin: 0;
        margin-bottom: 15px;
    }
}

@media (max-width: 767.5px) {
    nav#sidebarMenu ul li a{
        padding: 10px 20px;
    }
    .q-card label{
        box-shadow: none;
        border: 1px solid gainsboro;
        margin-bottom: 5px;
        padding: 10px 40px;
    }
    .q-card label .radio-mark{
        top: 9px;
    }
    .exam_page .card{
        padding: 15px !important;
    }
    .exam_page .dash-header , .review.dash-header {
        justify-content: end !important;
    }
    .details .d-flex{
        padding: 12px;
    }
    .details .mt-4{
        margin: 0 !important;
    }
    .card.quiz {
        padding: 0.5rem !important;
        text-align: center;
    }
    .dash-header h1{
        font-size: 20px;
    }
    h4.card-title {
        margin: 0;
    }
    .excerpt-text{
        margin: 0 15px;
    }
    p.lead.light.card , .card.activity{
        margin: 0 !important;
        padding: 15px !important;
    }
    .row{
        margin: 0;
    }
    .row.home-section>div{
        margin-bottom: 10px !important;
        margin-top: 0 !important;
        padding: 0;
    }
    .container-fluid{
        padding: 0 !important;
    }
    .course-header{
        padding: 0 !important;
    }
    .title_file_old{
        position: fixed;
        top: 0;
        left: 0;
        padding-left: 15px;
        background: #fff;
        width: 80%;
        z-index: 99999;
        display: flex;
        align-items: center;
        height: 64px;
    }
    .mobile-none{
        display: none !important;
    }
    .mobile-show{
        display: revert !important;
    }
    .signin .logo {
        right: 15% !important;
        left: unset !important;
        top: 75px !important;
    }
    .signin-form img {
        width: 40%;
        margin-top: 20px;
    }
    .card-default, .inputs {
        width: 100%;
    }
    form .col-md-9 .card.form-buttons{
        display: none;
    }
    form .col-md-3 {
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .col-lg-8.mb-5.mb-lg-0.course_info {
        margin: 0 !important;
    }
    .exam-simulator .no-img.certificate-img img{
        width: 7%;
    }
    .text-center.course-image.certificate.certification-card {
        border-radius: 0;
    }
    .navigation_preview{
        margin: 0 !important;
        height: 100% !important;
    }
    .head_courses{
        justify-content: start !important;
    }
    .position-sticky.pt-3 {
        padding: 0 !important;
    }
    .person-wrapper{
        display: none;
    }
    .home-section .card h3 {
        margin: 0 !important;
        margin-bottom: 25px !important;
    }
    .exit-preview{
        display: block;
        margin: 0 auto;
    }
    .container.change-password {
        margin: 20px auto;
    }
    .display-none{
        display: none !important;
    }
    .m-bottom{
        margin-bottom: 10px;
    }
    .parent_next_prev {
        justify-content: start;
        margin-top: 15px;
    }
    .text-center.course-image {
        min-height: max-content !important;
    }
    table.result_review td{
        text-align: left !important;
    }
    .scorm_report{
        padding: 15px;
    }
    p.time-remaining{
        margin: 15px 0;
    }
    .certificate-page {
        padding: 50px 0;
    }
    .course-cards span {
        display: block;
        margin-top: 25px;
    }
    .title_file_new {
        display: none;
    }
    .dash-header{
        display: none;
    }
    .course_info, .course_header {
        padding: 0 !important;
    }
    main#main-vue-element {
        padding: 0 !important;
    }
    .user-info{
        padding: 0.5rem !important;
    }
    .signin .signin-form {
        width: 85% !important;
        padding: 50px 25px !important;
    }
    .change-password .card {
        padding: 0 !important;
        margin: 0 !important;
    }
    .change-password input.form-control {
        font-size: 12px;
    }
    .navbar .navbar-toggler {
        position: absolute !important;
        width: 25px;
        height: 25px;
        padding: 1px 6px;
    }
    .navbar-dark .navbar-brand {
        color: #fff;
        width: max-content;
    }
    .lms-header ul.navbar-nav li a.nav-link {
        width: 35px;
        height: 35px;
    }
    .lms-header a.navbar-brand {
        padding: 12px 10px !important;
    }
    .home-section .col-lg-6.mb-5.mb-lg-0{
        margin-bottom: 0px !important;
    }
    .home-section .text-center.course-image.p-30 {
        margin: 0 !important;
        width: 100%;
    }
    .course-cards {
        width: 48% !important;
    }
    .course_details .course-image{
        box-shadow: none !important;
    }
    .q-card h3 {
        font-size: 17px;
        font-weight: 700;
    }
    .card.px-5.py-3.mb-2 {
        margin-top: 10px;
        padding: 15px !important;
    }

    .lms-header a.navbar-brand img{
        filter: inherit;
    }
    .lms-header a.navbar-brand{
        background: transparent;
    }

    ol.breadcrumb {
        display: none;
    }
    .file .card{
        flex-direction: column-reverse !important;
    }
    .review.dash-header {
        padding: 20px 0.5rem;
    }
    .q-number{
        padding: 5px 10px;
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 130px;
        font-family: 'Lato Bold';
    }
    .q-number small{
        line-height: 2 !important;
        font-size: 12px;
        position: relative;
    }
    .q-number div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        position: relative;
    }
    .q-number div .line {
        display: block;
        /* width: 1px; */
        height: 24px;
        border-left: 2px solid #fff;
    }
    .q-card{
        padding: 20px 10px !important;
    }
}

@media (max-width: 767.5px) and (min-width: 576.5px){
    .container {
        max-width: 100% !important;
    }
    .review.dash-header .parent_next_prev {
        margin: 0 !important;
    }
    .text-center.course-image.w-30.mb-4.mb-md-0 {
        width: 100%;
        border-radius: 0 !important;
    }
}

@media (max-width: 576.5px){
    .signin .logo {
        top: 10% !important;
    }
    .home-section h3 {
        text-align: center !important;
    }
    .change-password form.p-5 {
        padding: 15px !important;
    }
    .hero{
        display: none;
    }
    .reports{
        margin-top: 10px;
    }
    .course-cards.last {
        margin-bottom: 0 !important;
    }
    .home-section .text-center.course-image.p-3{
        box-shadow: none;
        border-bottom: 1px solid gainsboro;
        border-radius: 0;
    }
    .home-section .text-center.course-image.p-3.last{
        border-bottom: none;
    }
    .home-section .card {
        padding: 15px !important;
    }
    .home-section .courses {
        padding: 0 !important;
    }
    .lms-header ul.navbar-nav > li{
        margin-right: 20px;
    }
    .review.dash-header button.next_prev{
        margin: 0 5px 0 0 !important
    }
    .q-card h3{
        font-size: 16px;
    }
    /* .card.p-5 , .card.px-5.py-4 {
        padding: 15px !important;
    } */
    table a.green.form-control {
        display: inline;
    }
    svg#back{
        width: 18px !important;
    }
    a.cyan , button.cyan , button.main-color, a.main-color , input.cyan , input.main-color , a.btn.btn-primary , button.btn.btn-primary{
        font-size: 14px !important;
    }
    .calendar .sideb table th{
        font-size: 12px;
    }
    .card iframe {
        height: 200px;
    }
    .lms-header a.navbar-brand img{
        width: 40px;
    }
    span.d-none.d-sm-block{
        display: inline-block;
    }
    .parent_next_prev {
        justify-content: start;
    }
    span.mx-2.d-flex span {
        display: none;
    }
    span.mx-2.d-flex svg#Layer_1 {
        width: 25px;
    }
    .congrats h1{
        font-size: 25px;
    }
    .certification-card {
        padding: 60px 20px;
    }
    .certificate-img img {
        width: 45%;
    }
    .exam-simulator .certificate-img img {
        width: 15%;
    }
    .text-center.course-image .download img{
        width: 60%;
    }
    .home-section h2 {
        text-align: center;
    }
    .course-cards {
        width: 100% !important;
        margin: 0;
        margin-bottom: 5px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 20px 0 !important;
        border: none;
        border-left: 3px solid;
        border-right: 1px solid #eaeaea !important;
        border-top: 1px solid #eaeaea !important;
        border-bottom: 1px solid #eaeaea !important;
    }
    .dashboard .card {
        padding: 0 !important;
        border: none;
    }
    .reports .card {
        border-radius: 0 !important;
    }

    .course-cards > div{
        width: 150px;
    }
    .course-cards span{
        margin: 0 !important;
    }
    .course-cards svg {
        width: 70px;
        height: 70px;
        padding: 10px;
        margin-right: 20px;
    }
}

@media (max-width: 500.5px) {
    .exam-simulator .no-img.certificate-img img {
        width: 15%;
    }
    .card-header.d-flex.justify-content-between.align-items-center {
        display: flex !important;
        align-items: space-between;
    }

    .no-img.certificate-img img {
        width: 25%;
    }
}

@media(max-width : 430.5px){
    .signin .logo {
        top: 9% !important;
    }
    .learning-file ul li a span.svg {
        width: 65px;
        text-align: right;
    }
    .learning-file ul li a{
        padding: 6px 15px;
        align-items: flex-start;
    }
    .learning-file h3{
        margin: 30px 15px 0;
    }
    .congrats h1 {
        font-size: 18px;
    }
    .congrats p {
        color: #000;
        font-size: 13px;
    }
    .messages .d-flex span {
        display: none;
    }
    .course-cards {
        width: 100% !important;
    }
    .card-header.d-flex.justify-content-between.align-items-center .d-flex.align-items-center {
        justify-content: center;
    }
}

@media (max-width: 350.5px){
    .lms-header ul.navbar-nav li.has-dropdown a.nav-link.role{
        width: 145px;
    }
    .course-cards {
        justify-content: center;
    }
}

@media (max-width: 330.5px){
    .lms-header ul.navbar-nav li.has-dropdown a.nav-link.role{
        width: 126px;
        font-size: 12px;
    }
}

@media (min-width: 2000.5px){
    .course-image .image img {
        width: 50% !important;
    }
    .course-image .no-img img {
        width: 100px !important;
    }
}

/* End Media Query */

/******************************************************************************************************************/
